<script lang="ts">
import Steps from '../components/Steps.vue'
import Sphere from '../components/Sphere.vue'
import { ref } from 'vue';


  
export default {

  components:{
    Sphere,
    Steps
  },
  data() {
    return {
      image: null,
      loading: 0,
      current_asset: 0
    }
  },
  mounted(){
    
  },
  methods:{
    loadImage(image:any){
      this.image = image;
      this.loading = 0;
    },
    record(canvas:any, time:any) {
        this.loading = 1
        var recordedChunks :any = [];

        var video = document.getElementsByTagName('video') as any;
        video[0].pause();
        video[0].currentTime = 0;
        video[0].load();
        video[1].pause();
        video[1].currentTime = 0;
        video[1].load();

        return new Promise(function (res, rej) {
            var stream = canvas[0].captureStream(25 /*fps*/);
            let mediaRecorder = new MediaRecorder(stream, {
              mimeType: 'video/webm;codecs=h264'
            });

            //ondataavailable will fire in interval of `time || 4000 ms`
            mediaRecorder.start(time || 4000);

            mediaRecorder.ondataavailable = function (event) {
                recordedChunks.push(event.data);
                // after stop `dataavilable` event run one more time
                if (mediaRecorder.state === 'recording') {
                    mediaRecorder.stop();
                }

            }

            mediaRecorder.onstop = function (event) {
                var blob = new Blob(recordedChunks, {type: 'video/mp4'});
                var url = URL.createObjectURL(blob);
                res(url);
            }
        })
    },
    download(){
      const recording = this.record(document.getElementsByTagName('canvas'), 10000)

      // download it
      var link$ = document.createElement('a')
      link$.setAttribute('download','recordingVideo') 
      recording.then((url:any) => {
        link$.setAttribute('href', url) 
        link$.click()
        this.loading = 2
      })

    }
  }
};

</script>

<template>
  
  <div class="container">
    <img alt="Vue logo" class="logo" src="@/assets/logo.png" width="200"/>
    <div class="sphere-contain">
      <Sphere :image="image" :current_asset="current_asset"/>
      <select v-model="current_asset">
        <option :value="0">Video 1</option>
        <option :value="1">Video 2</option>
      </select>
    </div>
    <div>
      <Steps v-on:loadImage="loadImage" v-on:download="download" :loading="loading"  />
    </div>
  </div>
  <p class="footer">Make Ur Sphere by BetUrRace.com | 2023</p>
</template>

<style scoped>

select{
  width: 200px;
  height: 40px;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 10px;
  cursor: pointer;
}
.sphere-contain{
 padding: 0 50px !important;
}
.footer{
  text-align: center;
  color: #fff;
  margin-top: 30px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.column {
  flex: 1;
  background-color: #f2f2f2;
  padding: 15px;
  margin: 10px;
}
header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}
@media (max-width: 700px) {
  .sphere-contain{
    padding: 0 !important;
  }
  .container,#app {
    display: block;
    width: 100%;
    padding: 0;
  }
  .logo{
    width: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 auto;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
