<template>
    <div id="container">
      <div ref="scene"></div>
      <video autoplay loop muted :id="'video0'" style="opacity : 0;">
          <source :src="'/src/assets/sphere.webm'" type="video/webm">
      </video>
      <video autoplay loop muted :id="'video1'" style="opacity : 0;" >
          <source :src="'/src/assets/sphere2.webm'" type="video/webm">
      </video>
    </div>
  </template>
  
  <script>
  import * as THREE from 'three';
  
  export default {

    data(){
      return {
        assets: [
          {
            'video': '/src/assets/sphere.webm',
            'sphere_size': 1.9,
            'sphere_x' : 0.255,
            'sphere_y' :0.1,
            'sphere_z': -2 
          },
          {
            'video': '/src/assets/sphere2.webm',
            'sphere_size': 1.75,
            'sphere_x' : 0.05,
            'sphere_y' :1.15,
            'sphere_z': -2 
          }
        ],
      }
    },


    props:['image', 'current_asset'],

    watch: {
      image(newImagePath) {
        // Utilisez le watcher pour déclencher la mise à jour de la texture
        this.updateTexture(newImagePath);
      },
      current_asset(asset) {
        // Utilisez le watcher pour déclencher la mise à jour de la texture
        this.updateOverlay();
      },
    },

    mounted() {
      // Initialisation de la scène
      this.scene = new THREE.Scene();
  
      // Initialisation de la caméra
      this.camera = new THREE.PerspectiveCamera(75, 350 / 700, 0.1, 1000);
      this.camera.position.z = 4.3;
      this.camera.position.x = 0.03;

      // Initialisation du rendu
      this.renderer = new THREE.WebGLRenderer();

 

      this.renderer.setSize(345, 696);
      this.renderer.setClearColor( 0x000000, 0 );
      // Ajout du rendu à l'élément DOM
      this.$refs.scene.appendChild(this.renderer.domElement);
  
      const textureLoader = new THREE.TextureLoader();
      const texture = textureLoader.load('/src/assets/death.jpg');

      // Initialisation de la sphère
      const geometry = new THREE.SphereGeometry(this.assets[this.current_asset].sphere_size, 32, 32);
      this.renderer.sortObjects = false;

      const material = new THREE.MeshBasicMaterial({ map: texture});
      this.sphere = new THREE.Mesh(geometry, material);


      this.updateOverlay();
      this.scene.add(this.sphere);

      this.animate();


    },
    methods: {

      updateOverlay() {
        const video = document.getElementById('video'+this.current_asset);

        this.scene.remove(this.scene.getObjectByName('overlay'))
        this.sphere.position.set(this.assets[this.current_asset].sphere_x,this.assets[this.current_asset].sphere_y,this.assets[this.current_asset].sphere_z);
        this.sphere.scale.setScalar(this.assets[this.current_asset].sphere_size/1.88)
        //Create your video texture:
        const videoTexture = new THREE.VideoTexture(video);
        videoTexture.encoding = THREE.sRGBEncoding

        const videoMaterial =  new THREE.MeshBasicMaterial( {map: videoTexture, side: THREE.FrontSide, toneMapped: false, transparent: true} );
        //Create screen
        const screen = new THREE.PlaneGeometry(3.75, 6.6);

        const videoScreen = new THREE.Mesh(screen, videoMaterial);
        videoScreen.name = 'overlay'

        this.scene.add(videoScreen);

      },

      updateTexture(image) {

        const textureLoader = new THREE.TextureLoader();
        const texture = textureLoader.load(URL.createObjectURL( image ));
        this.sphere.material = new THREE.MeshBasicMaterial({ map: texture });
      },
      animate() {
        // Appel récursif pour créer une animation fluide
        requestAnimationFrame(this.animate);
  
        // Rotation de la sphère
        this.sphere.rotation.y += 0.0005;
  
        // Rendu de la scène
        this.renderer.render(this.scene, this.camera);
      },
    },
    beforeDestroy() {
      // Nettoyez les ressources lors de la destruction du composant
      this.renderer.dispose();
    },
  };
  </script>
  
  <style scoped>
  
  #scene {
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
  }
  
#container{
  position: relative;
  width: 350px;
  height: 700px;
  margin: 0 auto;
  border: 2px solid #fff;
}
#container .overlay{
  position: absolute;
  bottom: 50px;
  text-align: center;
  left: 0;
  right:  0;
  font-size: 2rem;
  font-weight: bolder;
}
#container video, #container canvas{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;right: 0;top: 0;bottom: 0;
}
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
  </style>
  