<script lang="ts">
import Step from './Step.vue'
import IconUpload from './icons/IconUpload.vue'
import IconDownload from './icons/IconDownload.vue'
import IconPreview from './icons/IconPreview.vue'
import IconDonate from './icons/IconDonate.vue'

  
export default {
    props: ['loading'],
    components:{
      IconPreview,
      IconDownload,
      IconUpload,
      IconDonate,
      Step
    },
    data(){
      return{
        file:null
      }
    },
    methods:{

      filesChange(name:any,files:any){
        this.file = files[0];
        this.$emit('loadImage', this.file)
      },
      download(){
        this.$emit('download')
      }
    }
}


</script>

<template>
  <Step>
    <template #icon>
      <IconUpload />
    </template>
    <template #heading>Add your file</template>
    Add the image you want to show on the sphere<br />
    <input type="file" @change="filesChange($event.target.name, $event.target.files);">
  </Step>

  <Step v-if="file != null">
    <template #icon>
      <IconPreview />
    </template>
    <template #heading>Preview</template>

    Preview the render of the video.

    <br />

  </Step>

  <Step v-if="file != null">
    <template #icon>
      <IconDownload />
    </template>
    <template #heading>Download the video</template>
    You can download the video in MP4 format<br>
    <button v-on:click="download" v-if="loading == 0"><IconDownload /> Download video</button>
    <button v-if="loading == 1">Loading...</button>
    <button v-if="loading == 2">Download successful !</button>

    <br/>
  </Step>
  <Step v-if="file != null">
    <template #icon>
      <IconDonate />
    </template>
    <template #heading>Donate</template>
    If you want to help the developer you can buy me a coffee !<br />
    <a href="https://www.buymeacoffee.com/makeursphere" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 40px !important;width: 150px !important;margin-top:20px" ></a>
  </Step>

</template>

<style>
  button{
    padding: 7px 12px;
    font-size: 1rem;
    border: none;
    background-color: #fff;
    font-weight: bolder;
    cursor: pointer;
  }
  button svg{
    float: left;
    margin-right: 10px;
    margin-top: 1px;
  }
</style>